:root {
    font-family: "Poppins", sans-serif;
        font-size: small;
  }

.ubuntu
{
    font-family: "Ubuntu Mono", monospace;
    color: blue;
}

.yusei-magic {
    font-family: "Yusei Magic", sans-serif;
  }

